.login{
    background-color: var(--main-bg-color);
    height: 100vh;
    background-image: url(/public/img/kill-bill.png), url(/public/img/blood.png);
    background-position: 80% 90%, 7% 85%;
    background-size: 300px, 500px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* .login-title{
    font-size: 5em;
} */